body, h1, h2, h3, header, footer, p, ul, li, table, tr, td, form, input, div {
	padding: 0;
	margin: 0;
	border: 0;
}

.menu {
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #333333;
	color: #e2e2e2;
}

ul {
	list-style-type: none;
}

.menuContent {
	padding: 0 20% 0 20%;
}

#headerFirst ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#headerFirst li:not(#logo) {
	float: right;
	padding: 24px;
}

#headerFirst li:hover:not(.noHover) {
	background-color: #000000;
}

#headerFirst li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #e2e2e2;
}

#logo {
	float: left;
	padding: 20px;
}

.content {
	padding: 20px 0 20px 0;
	background-color: #ffffff;
}

footer {
    background-color: #333
}
